.header-container{
    background-image: url(./../../../images/chairBg.png);
    background-size: cover;
    height: 800px;
    position: relative;
}
.header-container::after{
    content: '';
    background: #3A4256;
    width: 400px;
    height: 700px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -50;
}